.form h1 {
  text-align: center;
  padding-bottom: 1rem;
}

.form { 
  margin-bottom: 2rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-left: 1rem;
  gap: 0.5rem;
}

.form-text-area {
  margin-left: 1rem;
}

input,
textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  display: block;
  width: 90%;

  padding: 1rem 2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
}

.error {
  color: red;
}

@media (min-width: 768px) {
  input,
  textarea {
    width: 60%;
  }

  .form-input {
    align-items: center;
  }

  .form-text-area {
    text-align: center;
  }

  .btn {
    width: 60%;
    margin: 1rem auto;
  }

  .error {
    margin-right: 20rem;

  }
}

@media (min-width: 1024px) {
  input,
  textarea {
    width: 50%;
  }

  .btn {
    width: 50%;
  }
  .error {
    margin-right: 24rem;
  }
}
