.menu {
  text-align: center;
  margin-top: 1rem;
}
.card p {
  padding: 0.5rem 0 0.5rem 0;
}

.menu-img {
  width: 100%;
}

#menue {
  display: flex;
  flex-direction: column;
}

.card {
  width: 80%;

  margin: 1.5rem auto;
}

@media screen and (min-width: 768px) {
  #menue {
    margin: 2rem auto;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .card {
    width: 45%;
  }
}

@media screen and (min-width: 1024px) {
  #menue {
    width: 96%;
    margin: 2rem auto;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .card {
    width: 30%;
  }
}
